@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* header, main, footer */
header {
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
  padding: 0;
  color: #666;
  clip-path: inset(0);
}

header .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  transition: 0.3s ease-in-out;
  color: #212529;
}

header .nav {
  position: absolute;
  bottom: 5%;
  right: 10%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

header .nav li {
  line-height: 100%;
}

header .nav li a {
  font-size: 1.2rem;
  color: #212529;
  text-decoration: none;
}

header.shrink .cover {
  width: 0;
  height: 0;
}

header.shrink .title {
  left: 10%;
  transform: translate(0, -50%);
  font-size: 2.5rem;
}

header.shrink .nav {
  top: 50%;
  transform: translate(0, -50%);
}

@media (max-width: 1350px) {
  header .nav {
    display: none;
  }
}

@media (max-width: 700px) {
  /* shrink */
  header {
    /* added important to override javascript height setting */
    height: 100px !important;
  }
  header .cover {
    width: 0;
    height: 0;
  }
  header .title {
    left: 10%;
    transform: translate(0, -50%);
    font-size: 2.5rem;
  }
  header .nav {
    top: 50%;
    transform: translate(0, -50%);
  }
}

main {
  padding-top: 300px;
  margin: 0 10%;
}

@media (max-width: 700px) {
  /* shrink */
  main {
    padding-top: 100px;
  }
}

footer {
  background-color: #f2f2f2;
  margin-top: 200px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #666;
}

/* html components */

section {
  margin: 0 0 -50px;
  padding-top: 10%;
}

@media (max-width: 700px) {
  section {
    margin: 0 0 0;
    padding-top: 10%;
  }
}

h3 {
  /* font-family: "Lobster", sans-serif; */
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  /* text-align: center; */
}

/* each element customize */
#about .flex {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 700px) {
  #about .flex {
    flex-direction: column-reverse;
    gap: 20px;
  }
  #about .flex .right .profile {
    margin: 20px auto 0;
  }
}

#about .flex .left p a {
  color: #007bff;
  text-decoration: none;
}

#about .flex .right .profile {
  width: 100%;
  /* max-width: 400px; */
  min-width: 200px;
}

#research .emphasis {
  font-style: italic;
  text-decoration: underline;
}
